* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100vw;
    
    display: flex;
    justify-content: center;
}

.content {
    width: 100vw;
    height: 70vh;

    background-image: url("./pictures/background-img.jpg");

    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: 150px;
    height: 250px;

    margin-left: 20px;
}

.nav .buttons {

    width: 14rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.lang-scrolldown-menu {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
}

.buttons .login-button {
    
    width: 100px;
    height: 30px;

    border: 1px solid black;
    border-radius: 3px;

    background-color: red;
    color: white;
}

.content-items {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    gap: 10px;
}

.content-items .content-items-header {
    font-size: 3rem;
    font-weight: 700;
}

.content-items-paragraf {
    font-size: 1.5rem;
}

.content-items-paragraf2 {
    display: flex;
    flex-wrap: wrap;
}

.email-container {
    margin-top: 70px;

    border: 1px solid red;
    border-radius: 10px;

    display: flex;
}

.email-submit-button, .email-input-field {
    width: 200px;
    height: 50px;
}

.email-submit-button {
    font-size: 15px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: red;
    color: white;
}

.email-input-field {
    font-size: 20;
    padding: 10px;
    border: none;
}

@media (max-width: 950px) {
    .content-items .content-items-header {
        font-size: 2rem;
    }

    .content-items-paragraf {
        font-size: 1.3rem;
    }
    
    .email-submit-button, .email-input-field {
        width: 150px;
        height: 45px;
    }

}

@media (max-width: 628px) {
    .content-items .content-items-header {
        font-size: 1.4rem;
    }

    .content-items-paragraf {
        font-size: 1.2rem;
    }

    .content-items-paragraf2 {
        width: 420px;
    }
}

@media (max-width: 478px) {
   
    .lang-scrolldown-menu {
        display: none;
    }

    .buttons .login-button {
        width: 110px;
        height: 40px;

        font-size: 15px;
    }

    .content-items .content-items-header {
        font-size: 1.14rem
    }

    .content-items-paragraf {
        font-size: 1.1rem;
    }

    .content-items-paragraf2 {
        width: 350px;
    }
}