* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 100vw;
    height: 70vh;

    background-image: url("./pictures/background-img.jpg");

    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: 150px;
    height: 250px;

    margin-left: 20px;
}

.nav-buttons {
    width: 14rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    margin-right: 30px;
}

.lang-scrolldown-menu {
    background-color: transparent;
    border: 1px solid grey;
    color: white;
}

.lang-scrolldown-menu option {
    background-color: grey;
}

.login-button {
    
    width: 100px;
    height: 30px;

    border: 1px solid black;
    border-radius: 3px;

    background-color: rgba(255, 0, 0, 0.855);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button:hover {
    background-color: rgb(237, 0, 0);
}

.content-items {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    gap: 10px;
}

.content-items-header {
    font-size: 3rem;
    font-weight: 700;
}

.content-items-paragraf {
    font-size: 1.5rem;
}

.content-items-paragraf2 {
    display: flex;
    flex-wrap: wrap;
}

.email-container {
    margin-top: 70px;

    
    width: 20rem;
    height: 3.5rem;


    border: 1px solid red;
    border-radius: 10px;

    display: flex;
    
}

.email-submit-button, .email-input-field {
    width: 100%;
    height: 100%;
}

.email-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;

    border: none;
    border-right: 1px solid red;
    border-radius: 5px;

    background-color: red;
    color: white;
}

.email-submit-button:hover {
    background-color: rgb(250, 48, 48);
}

.email-submit-button:focus {
    border: 1px solid black ;
}

.email-input-field {
    font-size: 20;
    padding: 10px;
    border: none;
}

.under-content-1, .under-content-2 {
    background-color: black;

    width: 100%;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;

    border-top: 10px solid grey;

    color: white;
}

.tv-text, .mobile-text {
    width: 30rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.tv-heading, .mobile-heading {
    font-weight: 700;
    font-size: 40px;
}

.tv-paragraph, .mobile-paragraph {
    font-size: 25px;
}

.tv-img {
    width: 400px;
    height: 300px;
}

.mobile-img {
    width: 330px;
    height: 250px;
}



@media (max-width: 950px) {

    .email-container {
        width: 20rem;
        height: 2rem;
    }

    .content-items-header {
        font-size: 2rem;
    }

    .content-items-paragraf {
        font-size: 1.3rem;
    }

    .tv-heading, .mobile-heading {
        font-size: 25px;
    }

    .tv-paragraph, .mobile-paragraph {
        font-size: 15px;
    }

    .tv-text, .mobile-text {
        width: 15rem;
    }

    .tv-img {
        width: 300px;
        height: 200px;
    }
    
    .mobile-img {
        width: 260px;
        height: 170px;
    }
}

@media (max-width: 628px) {
    .nav-buttons {
        width: 6.2rem;
    }

    .lang-scrolldown-menu {display: none;}

    .content-items-header {
        font-size: 1.4rem;
    }

    .content-items-paragraf {
        font-size: 1.2rem;
    }

    .content-items-paragraf2 {
        width: 420px;
    }

    .under-content-1, .under-content-2 {
        gap: 0px;
        flex-direction: column;
    }

    .tv-heading, .mobile-heading {
        font-size: 25px;
    }

    .tv-paragraph, .mobile-paragraph {
        font-size: 15px;
    }

    .tv-text, .mobile-text {
        width: 15rem;
    }

    .mobile-text {
        margin-top: 20px;
    }

    .tv-img {
        width: 200px;
        height: 150px;
    }
    
    .mobile-img {
        width: 210px;
        height: 150px;
    }
}

@media (max-width: 468px) {
    .content-items-header {
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    .content-items-paragraf {
        font-size: 1rem;
    }
    
    .content-items-paragraf2 {
        width: 360px;
        font-size: .9rem;
    }
}

@media (max-width: 398px) {
    .nav-buttons {margin-right: 15px;}

    .email-container {
        width: 18rem;
        height: 2rem;
    }

    .content-items-header {
        font-size: 1rem;
        font-weight: 700;
    }
    
    .content-items-paragraf {
        font-size: .8rem;
    }
    
    .content-items-paragraf2 {
        width: 300px;
        font-size: .7rem;
    }
}